imports:
  - { resource: ../common.yml }

services:
  PrestaShop\Module\FexaAiConnector\EventListener\ModuleEventListener:
    tags:
      - { name: 'kernel.event_subscriber' }
    public: true
    arguments:
      - '@PrestaShop\Module\FexaAiConnector\Services\McpService'

  PrestaShop\Module\FexaAiConnector\Controller\Admin\FexaAiConfigController:
    class: PrestaShop\Module\FexaAiConnector\Controller\Admin\FexaAiConfigController
    public: true


  PrestaShop\Module\FexaAiConnector\Helper\ModuleHelper:
    class: PrestaShop\Module\FexaAiConnector\Helper\ModuleHelper
    public: true
