services:
  _defaults:
    public: true

  PrestaShop\Module\FexaAiConnector\Fexa_ai_connector:
    class: 'fexa_ai_connector'
    factory: ['Module', 'getInstanceByName']
    arguments:
      - 'fexa_ai_connector'

  ## REPOSITORIES ##
  PrestaShop\Module\FexaAiConnector\Repository\McpToolsRepository:
    class: PrestaShop\Module\FexaAiConnector\Repository\McpToolsRepository


  PrestaShop\Module\FexaAiConnector\Repository\McpModulesRegisteredRepository:
    class: PrestaShop\Module\FexaAiConnector\Repository\McpModulesRegisteredRepository

  ## SERVICES ##
  PrestaShop\Module\FexaAiConnector\Services\McpService:
    class: PrestaShop\Module\FexaAiConnector\Services\McpService
    arguments:
      - '@PrestaShop\Module\FexaAiConnector\Fexa_ai_connector'
      - '@PrestaShop\Module\FexaAiConnector\Services\McpToolsService'
      - '@PrestaShop\Module\FexaAiConnector\Services\McpModulesRegisteredService'

  PrestaShop\Module\FexaAiConnector\Services\McpToolsService:
    class: PrestaShop\Module\FexaAiConnector\Services\McpToolsService
    arguments:
      - '@PrestaShop\Module\FexaAiConnector\Repository\McpToolsRepository'

  PrestaShop\Module\FexaAiConnector\Services\McpModulesRegisteredService:
    class: PrestaShop\Module\FexaAiConnector\Services\McpModulesRegisteredService
    arguments:
      - '@PrestaShop\Module\FexaAiConnector\Repository\McpModulesRegisteredRepository'
