services:
  _defaults:
    public: true

  fexa_ai_connector.module:
    class: 'Fexa_ai_connector'
    factory: ['Module', 'getInstanceByName']
    arguments:
      - 'fexa_ai_connector'

  ## REPOSITORIES ##
  fexa_ai_connector.repository.tools:
    class: PrestaShop\Module\FexaAiConnector\Repository\McpToolsRepository

  fexa_ai_connector.repository.modules:
    class: PrestaShop\Module\FexaAiConnector\Repository\McpModulesRegisteredRepository

  ## SERVICES ##
  fexa_ai_connector.mcp_service:
    class: PrestaShop\Module\FexaAiConnector\Services\McpService
    arguments:
      - '@fexa_ai_connector.module'
      - '@fexa_ai_connector.service.tools'
      - '@fexa_ai_connector.service.modules'

  fexa_ai_connector.service.tools:
    class: PrestaShop\Module\FexaAiConnector\Services\McpToolsService
    arguments:
      - '@fexa_ai_connector.repository.tools'

  fexa_ai_connector.service.modules:
    class: PrestaShop\Module\FexaAiConnector\Services\McpModulesRegisteredService
    arguments:
      - '@fexa_ai_connector.repository.modules'

  ## ADMIN ##
  PrestaShop\Module\FexaAiConnector\Controller\Admin\FexaAiConfigController:
    class: PrestaShop\Module\FexaAiConnector\Controller\Admin\FexaAiConfigController
    public: true
    tags: ['controller.service_arguments']

  PrestaShop\Module\FexaAiConnector\EventListener\ModuleEventListener:
    tags:
      - { name: 'kernel.event_subscriber' }
    public: true
    arguments:
      - '@fexa_ai_connector.mcp_service'

  PrestaShop\Module\FexaAiConnector\Helper\ModuleHelper:
    class: PrestaShop\Module\FexaAiConnector\Helper\ModuleHelper
    public: true
